@import url(https://fonts.google.com/specimen/Inter);

/* Presets */
:root {
    /* Colors */
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);

    /* Typography */
    --font-family: 'Inter', sans-serif;
    --fs-paragraph: 14px;
    --fw-light: 400;
    --fw-medium: 600;
    --fw-heavy: 700;
}


/* **CSS RESET by Piccalil** */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration: none;
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


body {
  min-height: 100vh;
  box-sizing: border-box;
  background-color: var(--grey-900);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  color: white;
  line-height: 1;
  font-size: 93.75%;
}

.card {
  background-color: var(--grey-800);
  max-width: 500px;
  padding: 3rem;
  border-radius: 20px;
  margin: 0 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.avatar {
  border-radius: 50%;
  max-width: 30%;
  min-width: 6rem;
}

.links {
  display: grid;
  gap: 1rem;
}

.links img {
  width: 30px;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--grey-700);
  padding: 0.875rem;
  border-radius: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
}

a:hover,
a:focus-visible {
  scale: 1.1;
  color: var(--grey-900);
  background-color: var(--green);
  outline: none;
}

.name {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 0.8;
}

.location {
  line-height: 0.6;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--green);
}

.description {
  margin: 2rem auto;
}